div.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: yellow;
}

#colorDisplay {
    height: 100%;
    width: 100%;
    background-color: transparent;
    clip-path: polygon(100% 0, 100% 100%, 100% 100%, 100% 100%, 0% 100%, 0 0);
}



a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}




.slidersection, .hsvsection, .rgbsection {
    transition: 0.5s left;
    left: 0%;
    &.sectionslid {
        left: calc(-100% - 50px);
    }
}

.lineargradient {
    height: 4px;
    background: linear-gradient(90deg, #FF0000, #FF8000, #FFFF00, #80FF00, #00FF00, #00FF80, #00FFFF, #0080FF, #0000FF, #8000FF, #FF00FF, #FF0080);
}

.nolineargradient {
    height: 4px;
}


#colorbox {
    #savearea {
        right: -60px; 
        top: 0px; 
        height: 100%; 
        width: 40px;
        transition: 0.5s right;
    }
    &:hover {
        #savearea {
            right:0px;
        }
    }
}



input[type="text"]::placeholder {
    color: rgba(0, 0, 0, 0.4);
}

input[type="text"]:focus {
    box-shadow: none;
}

.no-user-select {
    user-select: none;
}

button:focus {
    box-shadow: none !important;
    outline: 0;
}

#mainContent {
    overflow-x: hidden;
    overflow-y: auto;
}

#mainContent.open {
    overflow-y: hidden;
}




.dark.custom-range:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
}

.dark.custom-range::-webkit-slider-thumb {
    background-color: rgb(52, 58, 64);
}

.dark.custom-range::-webkit-slider-thumb:active {
    background-color: rgba(52, 58, 64, 0.5);
}

.dark.custom-range::-webkit-slider-runnable-track {
    background-color: #e6e6e6;
}

.hue.dark.custom-range::-webkit-slider-runnable-track {
    background: linear-gradient(90deg, #FF0000, #FF8000, #FFFF00, #80FF00, #00FF00, #00FF80, #00FFFF, #0080FF, #0000FF, #8000FF, #FF00FF, #FF0080);
}

.sat.dark.custom-range::-webkit-slider-runnable-track {
    background: linear-gradient(90deg, #FFFFFF, var(--satcolor));
}

.val.dark.custom-range::-webkit-slider-runnable-track {
    background: linear-gradient(90deg, #000000, #1A1A1A, #333333, #4D4D4D, #666666, #808080, #999999, #CCCCCC, #E6E6E6, #FFFFFF);
}

.red.dark.custom-range::-webkit-slider-runnable-track {
    background: linear-gradient(90deg, #000000, #FF0000);
}

.green.dark.custom-range::-webkit-slider-runnable-track {
    background: linear-gradient(90deg, #000000, #00FF00);
}

.blue.dark.custom-range::-webkit-slider-runnable-track {
    background: linear-gradient(90deg, #000000, #0000FF);
}

.dark.custom-range:disabled::-webkit-slider-thumb {
    background-color: #bdbdbd;
}